<head>
    <title>Grocery Listify</title>
    <link href='./normalize.css' rel="stylesheet" >
    <link href='./skeleton.css' rel="stylesheet" >
    <link href="./styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="app"></div>
    </div>
    <script src='app.js'></script>
</body>